@import "tailwindcss";

/* Tailwind Slate Colors */
:root { 
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --cal-red: #b71234;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
}

/* Loading Circle */
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin .25s linear infinite;
}

/* Custom Scroll Bar */
.custom-scrollbar::-webkit-scrollbar {
    height: .5rem;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--slate-900);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--cal-red);
    border-radius: 2rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #710033;
}